.centre {
  margin: auto;
  max-width: 960px;
  position: relative;
  padding-top: 20px;
}

.eb-container {
  position: absolute;
  opacity: 1;
  transition-duration: 1s;
  text-align: center;
  width: 100%;
  pointer-events: auto;
}

.invisible {
  opacity: 0;
  pointer-events: none;
}

ion-card {
  box-shadow: none !important;
  text-align: left;
  width: 100%;
}

ion-card-content {
  padding: 0 0 0 20px !important;
  margin-bottom: 30px !important;
}

ion-card-content * {
  font-size: 22px;
  font-weight: 500;
}

ion-card-title {
  font-size: 28px;
  font-weight: 800;

}

ion-label {
  color: red;
}
