.container *{
  /*color: #212121;*/
  color: white;
}

ion-card {
  max-width: 960px;
}

ion-card-content {
  padding: 0 0 0 20px !important;
}

ion-card-content * {
  font-size: 22px;
  font-weight: 400;
}

ion-card-title {
  font-size: 28px;
  font-weight: 800;

}

ion-label {
  color: red;
}
