.centre {
  margin: auto;
  max-width: 960px;
  position: relative;
}

.container {
  position: absolute;
  opacity: 1;
  transition-duration: 1s;
}

.invisible {
  opacity: 0;
}

ion-card {
  box-shadow: none !important;
}

ion-card-content {
  padding: 0 0 0 20px !important;
  margin-bottom: 30px !important;
}

ion-card-content * {
  font-size: 22px;
  font-weight: 500;
}

ion-card-title {
  font-size: 28px;
  font-weight: 800;

}

ion-label {
  color: red;
}
